/* base.css */


/* $RESET
================================
*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary
{
	display: block;
}

p, menu, ul, ol, dd, dl
{
	margin:0;
	padding:0;
}

body
{
	margin: 0;
	padding: 0;
	border: 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6
{
	line-height:1.1em;
	line-height: 1.5;
	vertical-align: baseline;
}

/* Typography */
h1, h2, h3, h4, h5, h6
{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	margin:0;
	padding:0;
}

h1
{
	font-size:60px;
	line-height:72px;
}

h2
{
	font-size:48px;
	line-height:54px;
	margin-bottom:18px;
}

h3
{
	font-size:36px;
	line-height:36px;
	margin-bottom:18px;
}

h4
{
	font-size:30px;
	line-height:36px;
	margin-bottom:18px;
}

h5
{
	font-size:28px;
	line-height:36px;
}

h6
{
	font-size:24px;
	line-height:36px;
}

p
{
	font-size:13px;
	line-height:18px;
	margin-bottom:18px;
}

ol, ul
{
	list-style: none;
	margin-left:1.5em;
	margin-bottom:18px;
}


/* $LAYOUT
================================
*/

.main
{
	width:60%;
	margin:64px auto;
}